
<head>


    <style>
        body {
            background-color: deepskyblue;
        }

        h1 {
            color: black;
        }

        h2 {
            color: blue
        }
    </style>




    @* <style>
    /* Set the background image with a light blue overlay */
    body {
    background-image: url('css/Images/background.jpeg');
    background-color: rgba(173, 216, 230, 0.8); /* Fallback for browsers that don't support background-image */
    background-blend-mode: screen; /* Apply blending mode to overlay colors */
    }

    /* Additional styles for other elements on the page */
    h1 {
    color: #333; /* Example color for the headings */
    }

    /* Add more CSS styles for your specific layout and components */
    </style>
    *@
</head>



<h1>Admin Control</h1>
<p><em>The following Newsletter update</em></p>

@*<div class="form-group">
      <label for="formFile" class="form-label mt-4">Select Image or Document</label>
      <input class="form-control" type="file" id="formFile">
    </div>*@



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style>
        .admin-button {
            display: inline-block;
            padding: 15px 30px; /* Increase the padding to make the button bigger */
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 18px; /* Increase the font size to make the text bigger */
            margin: 10px 2px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }

            .admin-button:hover {
                background-color: darkred; /* Change the color on hover */
            }
    </style>
</head>
<body>
    <button class="admin-button">
        <i class="fas fa-file-pdf"></i> Update Newsletter
    </button>
</body>
</html>



<style>
    .container {
        padding: 30px;
    }
</style>












<br />
<br />
<br />
<br />
<br />

<br />
<br />
<style>
    .pagination-container {
        display: flex;
        justify-content: flex-end;
    }

    <style >
    .pagination-container {
        display: flex;
        justify-content: flex-end;
    }
</style>
<title>Pagination Example</title>

<div class="pagination-container">
    <ul class="pagination">
            @*<li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
        </li>*@
            @* <li class="page-item active">
        <a class="page-link" href="/Home">1</a>
        </li>
        <li class="page-item">
        <a class="page-link" href="/About/About">2</a>
        </li>

        <li class="page-item">
        <a class="page-link" href="/Wish/Wish">3</a>
        </li>
        <li class="page-item">
        <a class="page-link" href="/Donate/Donate">4</a>
        </li>
        <li class="page-item">
        <a class="page-link" href="/DropZone/DropZone">5</a>
        </li>
        <li class="page-item">
        <a class="page-link" href="/Payment/Payment">6</a>
        </li>
        <li class="page-item">
        <a class="page-link" href=" /Journey/Journey">7</a>
        </li>
        <li class="page-item">
        <a class="page-link" href="/Admin/Admin">8</a>
        </li>
        @*<li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
        </li>*@



        <li class="page-item">
            <a class="page-link" href="/Journey/Journey"> Previous  </a>
        </li>


        <li class="page-item active">
            <a class="page-link" href="/Home">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/About/About">2</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Wish/Wish">3</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Donate/Donate">4</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Statistic/Statistic">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/DropZone/DropZone">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Payment/Payment">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href=" /Journey/Journey">8</a>
        </li>






</div>


