@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>
body{
        background-color: white
}

    .red-heading {
        color: red;
    }
</style>

<h1 class="red-heading">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<br />
<div style="background-color: white; display: inline-block; padding: 10px;">
    <img src="~/css/Images/email.png" alt="Image">
</div>
<br />
<br />
<br />
<br />
