


@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "  Forgot  password?";
}


<style>
  body {
        background-color: white
  }

    .red-heading {
        color: red;
    }


</style>

<div style="background-color: white; display: inline-block; padding: 10px;">
    <img src="~/css/Images/password.jpeg" alt="Image">
</div>
   @* <img src="css/Images/password.jpeg"  />
*@


<h1 class="red-heading">@ViewData["Title"]</h1>

<p>Please enter  your registered email address we will get back to you  with</p>
<p>the rest password  link  and Confirmation OTP thanks :)</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">


                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <br />
            <button type="submit" class="w-100 btn btn-lg btn-primary">  <i class="fa fa-envelope"></i>Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
