



    <style>
        body {
            background-color: deepskyblue;
        }

       
    </style>



<div class="infographic-title"><span   accesskeyclass="inner-title"> <strong>Our WishList for our Organisation</strong> <br><span></span><strong></strong></span></div>
<ul class="infographic">
    <li href="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_1.jpg" style=" background-color: #F9A825;" class="item item1 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_1.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Dry Goods</span>
        <object id="line-svg" type="image/svg+xml" data="http://startupsmartup.com/wp-content/uploads/2015/12/rightarrow-1.svg" height="60" width="60"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_2.jpg" style=" background-color: #4CAF50;" class="item item2 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_2.jpg">
        <span class="lowercase"></span>
        <span class="uppercase">Canned Goods</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_3.jpg" style=" background-color:chocolate; " class="item item3 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_3.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Food Hampers</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_4.jpg" style=" background-color:royalblue; " class="item item4 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_4.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Long Life Milk</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi%20child/images/infographic/info_5.jpg" style=" background-color:rebeccapurple; " class="item item5 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_5.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Cereal</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_6.jpg" style=" background-color: #E91E63; " class="item item6 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_6.jpg">
        <span class="lowercase"></span>
        <span class="uppercase">Clothing</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_7.jpg" style=" background-color:lightseagreen; " class="item item7 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_7.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Footware</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg" style=" background-color:dimgrey; " class="item item8 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Blankets</span>
        <object data="" type="" class="hidden"></object>
    </li>

    <li href="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg" style=" background-color:lightcoral; " class="item item8 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Toys</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg" style=" background-color: lightblue;" class="item item8 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg">
        <span class="lowercase"> </span>
        <span class="uppercase">Stationary</span>
        <object data="" type="" class="hidden"></object>
    </li>
    <li href="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg" style=" background-color: RED;" class="item item8 et_pb_lightbox_image">
        <img src="http://startupsmartup.com/wp-content/themes/divi child/images/infographic/info_8.jpg">
        <span class="lowercase">  </span>
        <span class="uppercase">Hygiene goods for female packs</span>
        <object data="" type="" class="hidden"></object>
    </li>
</ul>



<style>
    .pagination-container {
        display: flex;
        justify-content: flex-end;
    }
</style>
<title>Pagination Example</title>

<div class="pagination-container">
    <ul class="pagination">
        @*<li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
        </li>*@
       @* <li class="page-item active">
            <a class="page-link" href="/Home">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/About/About">2</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Wish/Wish">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Donate/Donate">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/DropZone/DropZone">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Payment/Payment">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href=" /Journey/Journey">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Admin/Admin">8</a>
        </li>*@
        <li class="page-item">
            <a class="page-link" href="/About/About"> Previous  </a>
        </li>


        <li class="page-item active">
            <a class="page-link" href="/Home">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/About/About">2</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Wish/Wish">3</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Donate/Donate">4</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Statistic/Statistic">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/DropZone/DropZone">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Payment/Payment">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href=" /Journey/Journey">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Donate/Donate"> Next </a>
        </li>



        @*<li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
        </li>*@
    </ul>
</div>
