<!DOCTYPE html>
<html>
<head>
	<title>Gradient Background</title>
	<style type="text/css">
		body {
			background: linear-gradient(to right, navy, navy 50%, dodgerblue 50%, dodgerblue);
			background: linear-gradient(to bottom, lightskyblue, lightskyblue 50%, dodgerblue 50%, dodgerblue);
			height: 100vh;

	
			
		}
	</style>
	<style>
		.payment-info {
			background-color: #ccc;
			padding: 20px;
		}
	</style>


</head>
<body>


<div class="payment-info">
  <h1>Would you like to make Payment?</h1>
  <p><strong >Our Banking Details:</strong></p>
  <p><strong>Together Assisting Generously Org -Now and Beyond</strong></p>
  <p><em>Non profit Registration number: 281-972NPO</em></p>
  <p><em>SARS Income tax number:9958156185</em></p>
  <p><strong>Generous donation can be made below as below:</strong></p>
  <p><strong > Account Holder:Together Assisting Generously Organisation</strong></p>
		<p><strong>Bank :First National  Bank</strong></p>
		<p><strong>Type of Account :Business Cheque</strong></p>
		<p><strong>Account Number :63022321466</strong></p>
  <p><strong>Branch :250655</strong></p>
  <p><strong>Reference:First  and Last Name or Company ref</strong></p>


  <h2>OR</h2>

        <div class="center-container">
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="XHRVQVMPBK6FS" />
                <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>

 
      
</div>

</body>
</html>



<style>

    .center-container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 20vh;}


    /* Increase the width and height of the button */
    input[type="image"] {
        width: 200px; /* You can adjust the width as needed */
        height: 100px; /* You can adjust the height as needed */
    }
</style>




<br />
<br />
<style>
    .pagination-container {
        display: flex;
        justify-content: flex-end;
    }
</style>
<title>Pagination Example</title>

<div class="pagination-container">
    <ul class="pagination">
        @*<li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
        </li>*@
      @*  <li class="page-item active">
            <a class="page-link" href="/Home">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/About/About">2</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Wish/Wish">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Donate/Donate">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/DropZone/DropZone">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Payment/Payment">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href=" /Journey/Journey">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Admin/Admin">8</a>
        </li>*@

        <li class="page-item">
            <a class="page-link" href="/DropZone/DropZone"> Previous  </a>
        </li>


        <li class="page-item active">
            <a class="page-link" href="/Home">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/About/About">2</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Wish/Wish">3</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Donate/Donate">4</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/Statistic/Statistic">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/DropZone/DropZone">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Payment/Payment">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href=" /Journey/Journey">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/Journey/Journey"> Next </a>
        </li>






        @*<li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
        </li>*@
    </ul>
</div>
