<html>
<head>
    <title>FAQ Submitted</title>
    <style>

        .interest-gif {
            display: block;
            margin: 0 auto; /* Centers the images horizontally */
            width: 500px; /* Adjust the width to your desired size */
            height: 500px; /* Adjust the height to your desired size */
        }


        body {
            background-color: white;
          

        }
    </style>
</head>
<body>
    <br />
    <br />
 
 
    
    <h1 style="color: red;">Thank you for submitting your FAQ question!</h1>
    <br />
   
    <ul>
       
        <img src="~/css/Images/thank.gif" class="interest-gif" alt="">
    </ul>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- You can add a message or any other content here -->
</body>
</html>
