@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<style>
    body{
        background-color:white;
    }


</style>

<div class="text-end">
    <h3>@ViewData["Title"]</h3>

<br />
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row justify-content-end">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating text-end">
                <input asp-for="Username" class="form-control"  disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <br />

            <div class="form-floating text-end">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <br />

            <div class="text-end">
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">
                    <i class="fas fa-user-circle"></i> Save Profile
                </button>
            </div>
        </form>
  

        </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
